layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="terminal" focus=true split_direction="horizontal" {
    pane
    pane size="30%"
  }

  tab name="editor" {
    pane borderless=true command="nvim"
  }
}

keybinds {
    locked {
        bind "Ctrl Space" { GoToTab 1; SwitchToMode "Normal"; }
    }

    shared_except "locked" {
        bind "Ctrl Space" { GoToTab 2; SwitchToMode "Locked"; }
    }
}

